In [ ]:
introduction to list datatypes:

In [ ]:
defination : A list is a collection of items declared in a particular order.

classification : it is classified as mutable datatype

how to declare the list daatype-------?[]

In [4]:
students=[ 'arvind','shafi', 'jhon', 'david', 'nusrat', 'aradhya', 'nitya', 'asna'] # 0,1,2,3,4,5,6,7
print(students)

['arvind', 'shafi', 'jhon', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [5]:
print(students)

['arvind', 'shafi', 'jhon', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [6]:
type (students)

list

In [ ]:

#how to access the above elements from the list...?

In [ ]:
introduction  to indexing : 0,1,2,3........

In [ ]:

#req : i wanted to access john name from the above list..?

In [7]:
print(students[2])

jhon

In [ ]:
i wanted to access aradhya name from the above list..?

In [8]:
print(students[5])

aradhya

In [ ]:
1.how to add new elements to the list
2.how to modify the elements in the list
3.how to delete the elements in the list

In [9]:
print(students)

['arvind', 'shafi', 'jhon', 'david', 'nusrat', 'aradhya', 'nitya', 'asna']

In [10]:
students.append('sachin')

In [11]:
print(students)

['arvind', 'shafi', 'jhon', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin']

In [ ]:
#req I want  to add 'lavanya' name to the above list....

In [15]:
students.append('lavanya')

In [17]:
print(students)

['arvind', 'shafi', 'jhon', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya', 'lavanya', 'lavanya']

In [18]:
print(students[2])

jhon

In [23]:
students[2]='Chetan'
print(students[2])

Chetan

In [24]:
print(students[2])

Chetan

In [25]:
print(students)

['arvind', 'shafi', 'Chetan', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya', 'lavanya', 'lavanya']

In [27]:
del students[10]

In [28]:
print(students)

['arvind', 'shafi', 'Chetan', 'david', 'nusrat', 'aradhya', 'nitya', 'asna', 'sachin', 'lavanya']